<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DES Secure Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="site-title">
    <h1>3DES SECURE NOTES</h1>
    <p>Secure personal note system using 3DES encryption</p>
</div>

<div class="container">

    <h2>Note down your important things</h2>
    <p class="subtitle">Personal notes encrypted using 3DES algorithm</p>

    <form method="POST">
        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <button type="submit">Login</button>
    </form>

    <div class="auth-links">
        Don’t have an account?
        <a href="/register">Register</a>
    </div>

</div>

</body>
</html>
