<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

        <div class="site-header">
            <h1>Note down your important things</h1>
            <p>Personal notes encrypted using 3DES algorithm</p>
        </div>
    
        <h2>Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <div class="auth-links">
        Don’t have an account?
        <a href="/register">Register</a>
    </div>
</div>

</body>
</html>
